@import "../../../../custom";

.contact-form-input {
  border: none;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: medium;
}

textarea {
  width: 100% !important;
}

.invalid-input {
  border-color: $danger !important;
  border-width: 1.75px !important;
  border: solid;
  outline-color: $danger;
}

.required-message {
  position: absolute;
  margin-top: -3.35rem;
  left: 13rem;
  font-size: smaller;
  color: $danger;
}

.light-border {
  border-color: lighten($primary, 10%) !important;
  border-width: 2.5px !important;
  border: solid;
}

.white-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100%;
  z-index: -1;

  @media (min-width: 992px) {
    visibility: hidden;
  }
}
