/* You can add global styles to this file, and also import other style files */
@import "custom";
@import '~ngx-toastr/toastr';
@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

@font-face {
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100vh!important;
  width: 100vw!important;
}

.h-60 {
  height: 60%;
}

.h-20 {
  height: 20%;
}
